<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datos del alumno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/modificar.css">
    </head>
    <body>
        <h1>Datos del alumno</h1>
        <a class="boton btn-regresar" th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${alumno}">
            <input type="hidden" name="id_alumno" th:field="*{id_alumno}"/>
            <div class="field">
                <label for="nombre">Nombre:</label>
                <input class="entrada" type="text" name="nombre" th:field="*{nombre}"/>
            </div>
            <br/>
            <div class="field">
                <label for="apellido">Apellido:</label>
                <input class="entrada" type="text" name="apellido" th:field="*{apellido}"/>    
            </div>
            <br/>
            <div class="field">
                <label for="email">Email:</label>
                <input class="entrada" type="text" name="email" th:field="*{email}"/>    
            </div>
            <br/>
            <div class="field">
                <label for="celular">Celular:</label>
                <input class="entrada" type="text" name="celular" maxlength="9" th:field="*{celular}"/>    
            </div>
            <br/>
            <input class="boton btn-guardar" type="submit" name="Guardar" value="Guardar"/>
        </form>
    </body>
</html>
